# Kubernetes doesn't use containerd restart manager.
disabled_plugins = ["restart"]

[plugins]
  [plugins.cri.containerd]
    snapshotter = "overlayfs"
    [plugins.cri.containerd.default_runtime]
      runtime_type = "io.containerd.runtime.v1.linux"
      runtime_engine = "/usr/local/bin/runc"
      runtime_root = ""
  [plugins.linux]
    shim = "/usr/bin/containerd-shim"
    runtime = "/usr/local/bin/runc"

